
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A03Kumbam's Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/guestbook.css">

<style type="text/css">
body, html {
    height: 100%;
    margin: 0;
}

body {
    /* The image used */
     background-image: url("http://www.killenaule.net/wp-content/uploads/2012/11/guestbook.jpg");
 

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://127.0.0.1:8081/kumbam_supraja.html">Supraja's Page</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="http://127.0.0.1:8081/kumbam_supraja.html">Home</a></li>
      <li><a href="http://127.0.0.1:8081/wage.html">Wage</a></li>
      <li><a href="http://127.0.0.1:8081/contact.html">Contact</a></li>
      <li class="active"><a href="http://127.0.0.1:8081/views/index.ejs">Guest Book</a></li>
       
    </ul>
  </div>
</nav>
<h1 style="color: white;"> 
Supraja's Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>
</html>








