body, html {
    height: 100%;
    margin: 0;
}

body {
    /* The image used */
     background-image: url("guestbook.jpg");
 

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
