
body
{
  background-image:url("images (2).jpg");
  background-repeat: no-repeat;
  background-size:cover ;
}
  #sec1
{
  font-family:Comic Sans MS;
 }
.sec2
{
font-family:Comic Sans MS;
}
.sec3
{
font-family:Comic Sans MS;
}
h2
{
font-style:Italic;
}

.img-circle {
  border-radius:100%;
  width:200px;
  height:200px;
  position:relative;
  border: 3px solid #000000;
  top: 10px;
  position:relative;
}


footer
{
font-size:20px;
text-decoration:Underline;
font-weight:Bold;
}